#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*min egen css*/
.add-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

.add-form input, .add-form button {
  background-color: #252323;
  padding: 6px 10px;
  font-size: 1rem;
}

.add-form button{
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;

  background: rgb(128, 127, 127);
  border-radius: 10px;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.shopping-item {
  list-style: none;
  
}
